<%= render 'layouts/navbar' %>


<%# @trips.each do |trip|%>
  <%# <p>= link_to trip.destination, trip_path(trip)</p> %>
  <%# <p>Total Price:= trip.total_price</p> %>
  <%# <p>Arrival Date: = trip.date_coming</p> %>
  <%# <p>Leaving Date: = trip.date_leaving</p> %>
  <%# <p>= trip.type_transportation</p> %>
  <%# <p>Number of people: = trip.people</p> %>
  <%# <br>
  <br>
  <br>
  <br> %>
<%# end %>
<div class="justify-content-center" id="all-trips">
<% @trips.each do |trip|%>
  <div class="card-trips" id="a-t-c">
    <div class="row">
      <div class="col-lg-2" id="default-activity-icon_index_trip">
        <%= link_to trip_path(trip) do %>
          <i id="add-icon" class="fas fa-map-marker-alt" style="font-size:40px;"></i>
        <% end %>
      </div>

      <div class="col-lg-8" id="activity-info">
          <p id="default-card-content_index_trips">Your Trip to:</p>
          <%= link_to trip_path(trip) do %>
            <h3 id="default-card-content_index_trips"><%= trip.destination %></h3>
          <% end %>
          <p id="default-card-content_index_trips">Arrival date: <strong><%= trip.date_coming.strftime("%b %d, %Y") %></strong></p>
          <p id="default-card-content_index_trips">Leaving date: <strong><%= trip.date_leaving.strftime("%b %d, %Y") %></strong></p>
      </div>


      <div class="col-md-2" id="default-edit-icon">
        <%= link_to trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i id="add-icon" class="far fa-trash-alt" style="font-size:40px;"></i>
        <% end %>
        <%# <i class="fas fa-file-contract" style="font-size:32px;"></i> %>
      </div>
    </div>
  </div>
<% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
