<%= render 'layouts/navbar' %>

<div class="container mt-3" id="form-1">
  <div class="d-flex bar mb-5">
    <div class="bar-item col-lg-3">Timeframe</div>
    <%# <div class="bar-item col-lg-3">Transport</div> MORGEN TICKET%>
    <div class="bar-item col-lg-3">Accommodation</div>
    <div class="bar-item col-lg-3">Who's joining?</div>
    <div class="bar-item col-lg-3">Major interests</div>
  </div>
<%= form_for(@trip) do |t| %>
  <div class="form-group">
    <%= t.label :date_coming %>
    <%= t.text_field :date_coming, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= t.label :date_leaving %>
    <%= t.text_field :date_leaving, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= t.label :destination %>
    <%= t.text_field :destination, class: 'form-control' %>
  </div>

  SELECT FORM OPTION BETWEEN FLIGHT, TRAIN, BUS

  <div class="form-group">
    <%= t.label :people %>
    <%= t.text_field :people, class: 'form-control' %>
  </div>

  <div class="form-button">
  <%= t.submit class: "btn btn-outline-dark m-3 p-2" %>
  </div>
<%end%>
</div>

<%= render 'layouts/footer' %>
