<div class="show">
    <div id="left">
      <h3 id="filters">Notebook</h3>
      <div class="mt-5">
        <div>
          <div class="nav flex-column">
            <div class="nav-link completed">Overview</div>
            <% dates_array = (@trip.date_coming.strftime("%b %d, %Y").to_date..@trip.date_leaving.strftime("%b %d, %Y").to_date).map {|d| d } %>
              <% dates_array.each do |date| %>
                <div class="nav-link"><%= date %></div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="right">
    <div id="destination">
      <h3>Your trip to <%= @trip.destination %></h3>
    </div>
    <% if @trip.hotel_bookings.empty? %>
    <div class="card" id="default-card">
       <div class="row">
          <div class="col-lg-2" id="default-activity-icon">
            <%= link_to trip_hotel_bookings_path(@trip) do %>
              <i id="add-icon" class="material-icons" style="font-size:60px;">add</i>
            <% end %>
          </div>
          <div class="col-lg-8" id="activity-infos">
              <p id="default-card-content">Let's get started!</p>
              <h3 id="default-card-content">Add an Accommodation</h3>
          </div>
          <div class="col-md-2" id="default-edit-icon">
            <i class="material-icons" style="font-size:32px;">hotel</i>
          </div>
        </div>
      </div>
      <div class="card" id="default-card">
       <div class="row">
          <div class="col-lg-2" id="default-activity-icon">
            <%= link_to trip_activity_bookings_path(@trip) do %>
              <i id="add-icon" class="material-icons" style="font-size:60px;">add</i>
            <% end %>
          </div>
          <div class="col-lg-8" id="activity-infos">
              <p id="default-card-content">Let's get started!</p>
              <h3 id="default-card-content">Add an Activity</h3>
          </div>
          <div class="col-md-2" id="default-edit-icon">
            <i class="material-icons" style="font-size:32px;">celebration</i>
          </div>
        </div>
      </div>
      <% else %>
      <div id="hotel">
      <% @trip.hotel_bookings.each do |hotel|%>
          <h5>Costs per night: $<%= hotel.hotel.price %></h5>
          <h5>Total Costs Hotel: $<%= hotel.hotel.price + hotel.hotel.price %></h5>
        <% end %>
      <% end %>
      </div>
    <% if @trip.activity_bookings.empty? %>
    <div class="card" id="default-card">
       <div class="row">
          <div class="col-lg-2" id="default-activity-icon">
            <%= link_to trip_activity_bookings_path(@trip) do %>
              <i id="add-icon" class="material-icons" style="font-size:60px;">add</i>
            <% end %>
          </div>
          <div class="col-lg-8" id="activity-infos">
              <p id="default-card-content">Let's get started!</p>
              <h3 id="default-card-content">Add an Activity</h3>
          </div>
          <div class="col-md-2" id="default-edit-icon">
            <i class="material-icons" style="font-size:32px;">celebration</i>
          </div>
        </div>
      </div>
      <% else %>
      <h5 id="activities">Fixed Prices for Activities: $<%= @trip.total_price %></h5>
      <h5 id="activities">Total Price for the Trip: $<%= @trip.total_price %></h5>
      <div class="card" id="default-card">
       <div class="row">
          <div class="col-lg-2" id="default-activity-icon">
            <%= link_to trip_activity_bookings_path(@trip) do %>
              <i id="add-icon" class="material-icons" style="font-size:60px;">add</i>
            <% end %>
          </div>
          <div class="col-lg-8" id="activity-infos">
              <p id="default-card-content">Want to add more?</p>
              <h3 id="default-card-content">Add more Activities</h3>
          </div>
          <div class="col-md-2" id="default-edit-icon">
            <i class="material-icons" style="font-size:32px;">celebration</i>
          </div>
        </div>
      </div>
      <% end %>

  <% @trip.hotel_bookings.each do |hotel|%>
    <div class="day-program">
      <h4>Check in: <%= hotel.date_coming.strftime("%b %d, %Y") %></h4>
      <%= link_to 'Show this Hotel', trip_hotel_booking_path(@trip, hotel) %>
      <%= link_to 'Add another Hotel to Trip', trip_hotel_bookings_path(@trip) %>
      <%= link_to 'Edit this Hotel booking', edit_trip_hotel_booking_path(@trip, hotel) %>
      <%= link_to 'Delete Hotel Booking', hotel_booking_path(hotel), method: :delete, data: { confirm: "Are you sure?" }%>
    <div class="card">
       <div class="row">
          <div class="col-lg-2" id="activity-icon">
            <i class="material-icons" style="font-size:60px;">local_bar</i>
          </div>
          <div class="col-lg-8" id="activity-infos">
              <p id="card-content"><%= hotel.hotel.address %></p>
              <h3 id="card-content"><%= hotel.hotel.name %></h3>
          </div>
          <div class="col-md-2" id="edit-icon">
            <i class="material-icons" style="font-size:32px;">edit</i>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% @activity_bookings.each do |activity|%>
    <div class="day-program">
      <div class="day">
        <h4><%= activity.booking_date.strftime("%b %d, %Y") %></h4>

        <%= link_to 'Add an Activity to Trip', trip_activity_bookings_path(@trip) %>
        <%= link_to 'Show this activity', trip_activity_booking_path(@trip, activity) %>
        <%= link_to 'Edit this activity', edit_trip_activity_booking_path(@trip, activity) %>

        <%= link_to 'Delete activity', activity_booking_path(activity), method: :delete, data: { confirm: "Are you sure?" }%>

      </div>
    <div class="card">
       <div class="row">
          <div class="col-lg-2" id="activity-icon">
            <i class="material-icons" style="font-size:60px;">local_bar</i>
          </div>
          <div class="col-lg-8" id="activity-infos">
              <p id="card-content"><%= activity.activity.category %></p>
              <h3 id="card-content"><%= activity.activity.name %></h3>
          </div>
          <div class="col-md-2" id="edit-icon">
            <i class="material-icons" style="font-size:32px;">edit</i>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% @trip.hotel_bookings.each do |hotel|%>
    <div class="day-program">
      <h4>Check out: <%= hotel.date_leaving.strftime("%b %d, %Y") %></h4>
    <div class="card">
       <div class="row">
          <div class="col-lg-2" id="activity-icon">
            <i class="material-icons" style="font-size:60px;">local_bar</i>
          </div>
          <div class="col-lg-8" id="activity-infos">
              <p id="card-content"><%= hotel.hotel.address %></p>
              <h3 id="card-content"><%= hotel.hotel.name %></h3>
          </div>
          <div class="col-md-2" id="edit-icon">
            <i class="material-icons" style="font-size:32px;">edit</i>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<p><%= @trip.total_price %></p>

<p><%= @trip.type_transportation %></p>
<p><%= @trip.people %></p>
<br>
<% if @trip.activities.empty? %>
  <p>No activities added yet</p>
<% else %>
  <% @trip.activities.each do |activity|%>

    <p><%= activity.name %></p>
    <p><%= activity.address %></p>
    <p><%= activity.description %></p>
    <p><%= activity.category %></p>
    <% if activity.price.nil? %>
      <p><%= activity.price_class %></p>
    <% else %>
      <p><%= activity.price %></p>
      <p><%= activity.price_class %></p>
    <% end %>
  <% end %>
<% end %>
<br>
<%= link_to 'Add Activity to Trip', new_trip_activity_booking_path(@trip) %>
<br>
<%= link_to 'Add Hotel to Trip', new_trip_hotel_booking_path(@trip) %>
<br>
<%= link_to 'All Trips', trips_path %>
<br>
<br>

<% if @trip.hotels.empty? %>
  <p>No hotels added yet</p>
<% else %>
  <% @trip.hotels.each do |hotel|%>
    <p><%= hotel.name %></p>
    <p><%= hotel.address %></p>
    <p><%= hotel.description %></p>
    <p><%= hotel.price %></p>
    <p><%= hotel.price_class %></p>
  <% end %>
<% end %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json%>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
