


<% @hotels.each do |hotel|%>
  <% if hotel.photo.attached? %>
    <%= image_tag hotel.photo , height: 500, width: 700, crop: :fill %>
  <% else %>
    <h4>"No pictures"</h4>
  <% end %>
  <p><%= hotel.name %></p>
  <p><%= hotel.address %></p>
  <p><%= hotel.description %></p>
  <% if hotel.price.nil? %>
    <p><%= hotel.price_class %></p>
  <% else %>
    <p><%= hotel.price %></p>
    <p><%= hotel.price_class %></p>
  <% end %>
  <%= link_to 'Add this Hotel to the Trip', new_trip_hotel_booking_path(@trip, hotel_id: hotel.id) %>
  <br>
<% end %>

<%= render 'layouts/footer' %>
