


<%# @hotels.each do |hotel|%>
  <%# if hotel.photo.attached? %>
    <%#= image_tag hotel.photo , height: 500, width: 700, crop: :fill %>
  <%# else %>
    <%# <h4>"No pictures"</h4> %>
  <%# end %>
  <p><%#= hotel.name %></p>
  <p><%#= hotel.address %></p>
  <p><%#= hotel.description %></p>
  <%# if hotel.price.nil? %>
    <p><%#= hotel.price_class %></p>
  <%# else %>
    <p><%#= hotel.price %></p>
    <p><%#= hotel.price_class %></p>
  <%# end %>
  <%#= link_to 'Add this Hotel to the Trip', new_trip_hotel_booking_path(@trip, hotel_id: hotel.id) %>
  <br>
<%# end %>



<% @hotels.each do |hotel|%>
  <div class="body_activity_show">
    <div class="container_activity_show">
      <div class="card_activity_show">
        <div class="card-header_activity_show">
          <%= image_tag hotel.photo %>
        </div>
        <div class="card-body_activity_show">
          <span class="tag_activity_show tag-teal_activity_show"><%= link_to 'Add this Activity to the Trip', new_trip_hotel_booking_path(@trip, hotel_id: hotel.id) %></span>
          <h4><%= hotel.name %></h4>
          <p><%= hotel.description %></p>
          <div class="user_activity_show">
            <div class="user-info_activity_show">
              <h5>$<%= hotel.price %> per Night</h5>
              <h5>Price Class: <%= hotel.price_class %>/4</h5>
              <small><%= hotel.address %></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<%= render 'layouts/footer' %>
