


<%# @hotels.each do |hotel|%>
  <%# if hotel.photo.attached? %>
    <%#= image_tag hotel.photo , height: 500, width: 700, crop: :fill %>
  <%# else %>
    <%# <h4>"No pictures"</h4> %>
  <%# end %>

<div class="activity-index-container">
<% @hotels.each do |hotel|%>
  <div class="body_activity_show">
    <div class="container_activity_show">
      <div class="card_activity_show">
        <div class="card-header_activity_show" style="background-image: url(<%= cl_image_path hotel.photo.key, height: 300, crop: :lfill %>)">
          </div>
        <div class="card-body_activity_show">
          <span class="tag_activity_show tag-teal_activity_show align-center">
            <%= link_to new_trip_hotel_booking_path(@trip, hotel_id: hotel.id) do %>
              <button class="btn btn-primary" id="button-home-3">Add this hotel</button>
            <% end %>
          </span>
          <br>
          <h4><%= hotel.name %></h4>
          <p><%= hotel.description %></p>
          <div class="user_activity_show">
            <div class="user-info_activity_show">
              <h5>Price Class: <%= hotel.price_class %>/4</h5>
              <br>
              <h5>$<%= hotel.price %> per Night</h5>
              <small><%= hotel.address %></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
