<h1 id="add-activity">EDIT AN ACTIVITY</h1>

<%= simple_form_for([@trip, @activity_booking]) do |t| %>
<div class="row">
<div class="form-group col-lg-6">
  <%= t.association :activity, class: 'form-control' %>
</div>
<div class="form-group col-lg-6">
  <%= t.input :people, class: 'form-control' %>
</div>
</div>
<div class="form-group">
  <%= t.input :booking_date, class: 'form-control' %>
</div>
<div class="form-group text-center">
  <%= t.button :submit, class: "btn btn-primary mt-5", id: "button-home-1" %>
</div>
<%= link_to "Delete Reservation" , activity_booking_path(), method: :delete, data: { confirm: "Are you sure?" }%>
<%end%>
