<% @activities.each do |activity|%>
  <% if activity.photo.attached? %>
    <%= image_tag activity.photo , height: 500, width: 700, crop: :fill %>
  <% else %>
    <h4>"No pictures"</h4>
  <% end %>
  <p><%= activity.name %></p>
  <p><%= activity.address %></p>
  <p><%= activity.description %></p>
  <p><%= activity.category %></p>
  <% if activity.price.nil? %>
    <p><%= activity.price_class %></p>
  <% else %>
    <p><%= activity.price %></p>
    <p><%= activity.price_class %></p>
  <% end %>
  <%= link_to 'Add this Activity to the Trip', new_trip_activity_booking_path(@trip, activity_id: activity.id) %>
  <br>
<% end %>

<%= render 'layouts/footer' %>
