<p>The Trip: <%= link_to @activity_booking.trip.destination, trip_path(@activity_booking.trip) %></p>
<p><%= @activity_booking.trip %></p>
<p><%= @activity_booking.activity.name %></p>
<p><%= @activity_booking.activity.description %></p>
<p><%= @activity_booking.activity.address %></p>
<p><%= @activity_booking.activity.category %></p>
<p><%= @activity_booking.activity.price_class %></p>

<p><%= @activity_booking.booking_date %></p>
<p><%= @activity_booking.people %></p>
<p><%= @activity_booking.status %></p>
